<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Portfólio - Home</title>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../static/index.css">
</head>
<body>
    <header>
        <nav>
            <ul>
                <li><a href="#home">Home</a></li>
                <li><a href="#skills">Habilidades</a></li>
                <li><a href="#experience">Experiência</a></li>
                <li><a href="#contact">Contato</a></li>
            </ul>
        </nav>
    </header>

    <section id="home">
        <div class="about-container">
            <img id="perfil" src="../static/photo.png" alt="foto_de_perfil">
            <div class="about-text">
                <h2>Sobre</h2>
                <p>Olá, sou Mateus, Analista/Desenvolvedor de Implantação na Sankhya. Com uma paixão por tecnologia e uma missão de maximizar o uso das soluções ERP, trabalho para que nossos clientes alcancem seus objetivos de forma eficiente.</p>
                <p>Sou um analista e desenvolvedor de implantação na Sankhya, com uma sólida experiência em PL/SQL, desenvolvimento de relatórios e automação de processos. Desde que comecei minha carreira, tenho me dedicado a otimizar e personalizar soluções ERP para clientes, garantindo que eles alcancem os melhores resultados possíveis.</p>
                <p>Atualmente, estou expandindo meus conhecimentos em tecnologias como Python, Flask e desenvolvimento web, aplicando essas habilidades tanto em projetos acadêmicos quanto em desafios profissionais.</p>
                <p>Para mais detalhes sobre minha trajetória profissional e habilidades, visite meu <a href="https://www.linkedin.com/in/mateus-favero-639544261/" target="_blank">LinkedIn</a>.</p>
            </div>
        </div>
    </section>

    <section id="skills">
        <h2>Habilidades Técnicas</h2>

        <div class="skills-category">
            <h3>Linguagens de Programação</h3>
            <ul class="skills-grid">
                <li>Python</li>
                <li>JavaScript</li>
                <li>C#</li>
                <li>C++</li>
                <li>C</li>
                <li>HTML</li>
                <li>CSS</li>
                <li>Java</li>
            </ul>
        </div>

        <div class="skills-category">
            <h3>Ferramentas e Tecnologias</h3>
            <ul class="skills-grid">
                <li>MySQL</li>
                <li>PL/SQL</li>
                <li>Flask</li>
                <li>Microsoft Excel</li>
                <li>Linux</li>
                <li>Arduino IDE</li>
                <li>iReport</li>
                <li>AWS</li>
            </ul>
        </div>

    </section>

    <section id="experience">
        <h2>Experiência Profissional</h2>
        <p>Atualmente, atuo como Analista/Desenvolvedor de Implantação na Sankhya, onde me especializei no desenvolvimento de soluções personalizadas para nossos clientes, utilizando ferramentas como PL/SQL e Excel Avançado. Meu foco é garantir que cada cliente tenha uma experiência otimizada com o ERP, desde a importação de dados até a criação de relatórios detalhados.</p>
        <p>Anteriormente, trabalhei em projetos independentes de desenvolvimento de software, adquirindo uma sólida base em programação e solução de problemas complexos.</p>
    </section>

    <section id="contact">
        <h2>Contato</h2>
        <div class="contact-container">
            <div class="contact-info">
                <p>Telefone: (19) 97422-8245</p>
                <p>Email: mateus.favero09@gmail.com</p>
            </div>
            <div class="contact-logo">
                <img src="../static/logo.png" alt="Logo">
            </div>
        </div>
    </section>
    

    <footer>
    </footer>
</body>
</html>
